<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Simple Tomcat App</display-name>

    <!-- تعریف یک servlet برای استفاده از JSP -->
    <servlet>
        <servlet-name>simpleServlet</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>

    <!-- تنظیمات servlet-mapping -->
    <servlet-mapping>
        <servlet-name>simpleServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
